.crm-designer-toolbar {
  width: 290px;
  position: absolute;
  top: 0;
  right: 0;
}

.crm-designer-toolbar hr,
.crm-designer-palette-search {
  margin: 0.5em 0;
}

.crm-designer-palette {
  height: 20em;
}

.crm-designer-palette .jstree-leaf {
  padding: 1px;
  border: 1px solid white;
  cursor: move;
}

.crm-designer-palette .jstree-leaf a {
  cursor: move;
}

.crm-designer-palette .jstree-leaf:hover {
  border: 1px dashed gray;
}

.crm-designer-palette .jstree-classic a.jstree-search {
  color: black;
  font-style: normal;
}

/* Cancel hovering affect from JSTree theme -- we already do this! */
.crm-designer-palette .jstree-classic .jstree-hovered {
    background: transparent;
    border: 1px transparent;
    padding:1px 2px 0 2px;
}

.crm-designer-canvas {
  margin-right: 300px;
}

.crm-designer-buttonset-region {
  text-align: center;
  margin: auto;
}

.crm-designer-field-binding {
  border: 1px inset black;
  padding: 0.4em;
  background: #ddd;
}

.crm-designer-fields {
  min-width:100px;
  min-height:100px;
}

.crm-designer-duplicate .crm-designer-row {
  background: #fbb;
}

.crm-designer-duplicate .field-location_type_id,
.crm-designer-duplicate .field-phone_type_id {
    color: #f00;
}

.crm-designer-row .crm-designer-buttons {
  float: right;
  display: none;
  height: 20px;
}

.crm-designer-row:hover .crm-designer-buttons {
  display: block;
}

.crm-designer-row .crm-designer-buttons a {
  cursor: pointer;
  display: inline-block;
}

.crm-designer-row, .crm-designer-row-placeholder {
  border: 1px solid white;
  padding: 0.5em;
  width: 80%;
  margin: auto;
}

.crm-designer-fields-region .crm-designer-row:hover {
  border: 1px dashed gray;
  cursor: move;
}

.crm-designer-row-placeholder {
  border: 1px dashed gray;
  visibility: visible !important;
  background: #EFEFFF;
  height: 1em;
}

#crm-designer-dialog li.crm-designer-row-placeholder, #crm-designer-dialog li.ui-sortable-helper {
    list-style: none;
}

#crm-designer-dialog {
  overflow: visible;
}

#crm-designer-dialog .full-height {
  height: 100%;
}

#crm-designer {
  position: relative;
}

#crm-designer .scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

/* fixme proper theming */
.ui-dialog {
  border: 1px solid black;
}
