.crm-designer-toolbar {
  width: 290px;
  position: absolute;
  top: 0;
  right: 0;
}

.crm-designer-toolbar hr,
.crm-designer-palette-search {
  margin: 0.5em 0;
}

.crm-designer-toolbar .ui-resizable-w {
  border-left: 4px dotted #BFBFBF;
  cursor: ew-resize;
  height: 50px;
  top: 45%;
}

.crm-designer-toolbar .ui-resizable-w:hover {
  border-left: 4px dotted #6B6B6B;
}

.crm-designer-palette {
  height: 20em;
}

.crm-designer-palette-tree > ul > li > a {
  font-weight: bold;
}

.crm-designer-palette .jstree-leaf,
.crm-designer-palette .jstree-leaf.disabled:hover {
  padding: 1px;
  border: 1px dashed transparent;
  background-color: transparent;
}

.crm-designer-palette .jstree-leaf a {
  cursor: move;
}

.crm-designer-palette .jstree-leaf.disabled a {
  cursor: default;
}

.crm-designer-palette .jstree-leaf:hover,
.crm-designer-fields-region .crm-designer-row:hover,
.crm-designer-open .crm-designer-row {
  border: 1px dashed gray;
  cursor: move;
  background-color: #E9E9F5;
}

.crm-designer-palette .jstree-classic a.jstree-search {
  color: black;
  font-style: normal;
}

.crm-designer-palette .disabled a, .crm-designer-palette .jstree-classic .disabled a.jstree-search {
  color: #999;
}

/* Cancel hovering affect from JSTree theme -- we already do this! */
.crm-designer-palette .jstree-classic .jstree-hovered {
  background: transparent;
  border: 1px transparent;
  padding:1px 2px 0 2px;
}

.crm-designer-canvas {
  margin-right: 300px;
}

.crm-designer-buttonset-region {
  text-align: center;
  margin: auto;
}

.crm-designer-field-binding {
  border: 1px inset black;
  padding: 0.4em;
  background: #ccc;
}

.crm-designer-fields {
  min-width:100px;
  /* to allow dropping in big whitespace, coordinate with min-height of dialog */
  min-height:500px;
}

.crm-designer-duplicate .crm-designer-row {
  background: #fbb;
}

.crm-designer-duplicate .field-location_type_id,
.crm-designer-duplicate .field-phone_type_id {
  color: #f00;
}

.crm-designer-row .crm-designer-buttons {
  right: 5px;
  top: 5px;
  position: absolute;
  height: 20px;
}

.crm-designer-fields-region .crm-designer-buttons {
  display: none;
}

.crm-designer-fields-region .crm-designer-open .crm-designer-buttons,
.crm-designer-row:hover .crm-designer-buttons {
  display: block;
}

.crm-designer-row .crm-designer-buttons a {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
}

.crm-designer-row .crm-designer-buttons a:hover,
#crm-designer button:hover {
  box-shadow: 1px 1px 2px #7D7C8C;
}

.crm-designer-row .crm-designer-buttons a.crm-designer-action-settings:hover {
  background-color: #71D46E;
}

.crm-designer-row .crm-designer-buttons a.crm-designer-action-remove:hover {
  background-color: #F19489;
}

.crm-designer-row,
.crm-designer-row-placeholder {
  border: 1px dashed transparent;
  padding: 0.3em;
  margin: auto;
  position: relative;
}

.crm-designer-row-label {
  padding: 0.5em 0px;
}

.crm-designer-label {
  font-weight: bold;
}

.crm-designer-row-placeholder {
  border: 1px dashed gray;
  visibility: visible !important;
  background: #EFEFFF;
  height: 1.1em;
}

#crm-designer-dialog .description {
  margin: 0px 2em 0px 0px;
}

#crm-designer-dialog .disabled .description {
  display: none;
}

#crm-designer-dialog li.crm-designer-row-placeholder,
#crm-designer-dialog li.ui-draggable-dragging {
  list-style: none;
}

#crm-designer-dialog {
  overflow: visible;
}

#crm-designer-dialog .full-height {
  height: 100%;
}

#crm-designer {
  position: relative;
}

#crm-designer .scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

.crm-designer-canvas {
  padding-right: 1em;
}

/* fixme proper theming */
.ui-dialog {
  border: 1px solid black;
}

/* Work-around for BackBone.Form in Garland */
.bbf-form ul {
  list-style-image: none;
}
