.crm-profilemockup-toolbar {
  width: 25%;
  float: right;
}

.crm-profilemockup-palette > div {
  padding: 10px;
}
 
.crm-profilemockup-canvas {
  width: 73%;
  float: left;
}

.crm-profilemockup-buttonset {
  text-align: center;
  margin: auto;
}

.crm-profilemockup-field-binding {
  border: 1px solid black;
  background: #ccc;
}

.crm-profilemockup-fields {
  min-width:100px;
  min-height:100px;
}

.crm-profilemockup-row .crm-profilemockup-buttons {
  float: right;
  visibility: hidden;
}

.crm-profilemockup-row:hover .crm-profilemockup-buttons {
  visibility: visible;
}

.crm-profilemockup-row {
  border: 1px solid white;
  padding: 0.5em 2em 0.5em 2em;
  width: 80%;
  margin: auto;
}

.crm-profilemockup-row:hover {
  border: 1px dashed black;
}

/* fixme proper theming */
.ui-dialog {
  border: 1px solid black;
}
